.piano-wrapper {
  position: relative;
  width: calc(18 * 50px);
}

.note {
  height: 230px;
  width: 50px;
  background: white;
  border: 1px solid;
  border-radius: 0 0 5px 5px;
}

.note:hover {
  background-color: #fffeeb;
  cursor: pointer;
}

.note[class*="#"] {
  background-color: black;
  height: 150px;
  width: 32px;
  margin-left: -16px;
  z-index: 100;
  position: absolute;
  top: 0;
}
