.header-section {
  text-align: center;
}

.note-to-play {
}

.btns-wrapper {
  text-align: center;
}

.btn {
  background: none;
  border: 2px solid #00a700;
  font-size: 1.4rem;
  border-radius: 4px;
  padding: .2rem .5rem;
}

.btn:hover {
  cursor: pointer;
  background-color: #00a700;
  color: white;
}

.btn:focus {
  outline-offset: 1px;
  outline-color: #99da99;
}

.piano-wrapper {
  position: relative;
  width: calc(18 * 50px);
  margin: 0 auto;
  padding: 0 0 2rem 0;
}

.note {
  height: 230px;
  width: 50px;
  background: white;
  border: 1px solid;
  border-radius: 0 0 5px 5px;
}

.note:hover {
  background-color: #fffeeb;
  cursor: pointer;
}

.note[class*="#"] {
  background-color: black;
  height: 150px;
  width: 32px;
  margin-left: -16px;
  z-index: 100;
  position: absolute;
  top: 0;
}

.note.is-valid {
  background-color: chartreuse;
}

.note.is-invalid {
  background-color: crimson;
}

.start-button {

}
